# IMPORTANT:
# This file is ONLY used to merge PRs. Approvals from people in this file are required for merging.


* @yangbofun @wzh1994 @wopeizl @zhangxc11
/diopi_test/python/conformance/ @LeungChiNan @jingguo-st @NeoZhang
/impl/ascend/ @hellozmz @Zhang-ze-feng

