# IMPORTANT:
# This file is ONLY used to merge PRs. Approvals from people in this file are required for merges.


* @yangbofun @wzh1994 @wopeizl @zhangxc11
/diopi_test/python/conformance/ @LeungChiNan @POI-WX
/impl/ascend/ @chrysantd

