# IMPORTANT:
# This file is ONLY used to merge PRs. Approvals from people in this file are required for merges.


* @yangbofun @wangzhihong @wopeizl @zhangxc11
/diopi_test/python/conformance/ @LeungChiNan
/impl/ascend/ @chrysantd

