- common_config:
    dtype: (int64)->int32, (float64)->float32, (complex128)->complex64
    layout: NCHW

#---base operation below---#
- diopiAdd:
    layout: ND

- diopiAddInp:
    layout: ND

- diopiAddScalar:
    layout: ND

- diopiAddInpScalar:
    layout: ND

- diopiSub:
    layout: ND
    
- diopiSubInp:
    layout: ND

- diopiSubScalar:
    layout: ND

- diopiSubInpScalar:
    layout: ND

- diopiMul:
    layout: ND
    
- diopiMulInp:
    layout: ND

- diopiMulScalar:
    layout: ND

- diopiMulInpScalar:
    layout: ND

- diopiDiv:
    layout: ND
    
- diopiDivInp:
    layout: ND

- diopiDivScalar:
    layout: ND

- diopiDivInpScalar:
    layout: ND
#---base operation above---#

#---Pooling operation below---#
- diopiAdaptiveAvgPool2d:
    layout: NHWC, NDHWC

- diopiAdaptiveAvgPool2dBackward:
    layout: NHWC, NDHWC
#---Pooling operation above---#

#---Matrix operation below---#
- diopiBmm:
    layout: ND
#---Matrix operation above---#

- diopiUpsampleNearest:
    layout: NHWC, NDHWC

- diopiUpsampleNearestBackward:
    layout: NHWC, NDHWC

- diopiUpsampleLinear:
    layout: NLC, NHWC, NDHWC

- diopiUpsampleLinearBackward:
    layout: NLC, NHWC, NDHWC

- diopiConvolution2d:
    layout: NHWC

- diopiConvolution2dBackward:
    layout: NHWC

- diopiConvTranspose2d:
    layout: NHWC

- diopiConvTranspose2dBackward:
    layout: NHWC

- diopiBatchNorm:
    layout: NLC, NHWC, NDHWC

- diopiBatchNormBackward:
    layout: NLC, NHWC, NDHWC

- diopiBatchNormBackwardReduce:
    layout: NLC, NHWC, NDHWC

- diopiBatchNormElemt:
    layout: NLC, NHWC, NDHWC

- diopiBatchNormBackwardElemt:
    layout: NLC, NHWC, NDHWC

- diopiBatchNormStats:
    layout: NLC, NHWC, NDHWC

#* Ops below are not neccesary to convert format *#
# next version will be changed,it is better to do nothing in adaptor
- diopiMaxPool2dWithIndices:
    layout: NHWC

- diopiMaxPool2d:
    layout: NHWC

- diopiMaxPool2dBackward:
    layout: NHWC

- diopiThresholdBackward:
    layout: NLC, NHWC, NDHWC
#* Ops above are not neccesary to convert format *#

- diopiReluInp:
    layout: ND