- common_config:
    layout: NCHW

- diopiSoftmax:
    dtype: (float64)->float32

- diopiBaddbmm:
    dtype: (float64)->float32

- diopiBaddbmmInp:
    dtype: (float64)->float32

- diopiSoftmaxBackward:
    dtype: (float64)->float32

- diopiLogSoftmax:
    dtype: (float64)->float32

- diopiLogSoftmaxBackward:
    dtype: (float64)->float32

- diopiGelu:
    dtype: (float64)->float32

- diopiGeluBackward:
    dtype: (float64)->float32

- diopiConvolution2d:
    dtype: (float64)->float16

- diopiConvolution2dBackward:
    dtype: (float64)->float16

- diopiAdaptiveAvgPool2d:
    dtype: (float64)->float32

- diopiAdaptiveAvgPool2dBackward:
    dtype: (float64)->float32

# - diopiLtScalar:
#     dtype: (bool)->float32

# - diopiLtInpScalar:
#     dtype: (bool)->float32

# - diopiLt:
#     dtype: (bool)->float32

# - diopiLtInp:
#     dtype: (bool)->float32

# - diopiGtScalar:
#     dtype: (bool)->float32

# - diopiGtInpScalar:
#     dtype: (bool)->float32

# - diopiGt:
#     dtype: (bool)->float32

# - diopiGtInp:
#     dtype: (bool)->float32

# - diopiLeScalar:
#     dtype: (bool)->float32

# - diopiLeInpScalar:
#     dtype: (bool)->float32

# - diopiLe:
#     dtype: (bool)->float32

# - diopiLeInp:
#     dtype: (bool)->float32

# - diopiGeScalar:
#     dtype: (bool)->float32

# - diopiGeInpScalar:
#     dtype: (bool)->float32

# - diopiGe:
#     dtype: (bool)->float32

# - diopiGeInp:
#     dtype: (bool)->float32

# - diopiLogicalAnd:
#     dtype: (float64, float32, float16, int64, int32, int16, int8, uint8)->bool

# - diopiLogicalAndInp:
#     dtype: (float64, float32, float16, int64, int32, int16, int8, uint8)->bool

# - diopiLogicalOr:
#     dtype: (float64, float32, float16, int64, int32, int16, int8, uint8)->bool

# - diopiLogicalOrInp:
#     dtype: (float64, float32, float16, int64, int32, int16, int8, uint8)->bool

# - diopiLogicalNot:
#     dtype: (float64, float32, float16, int64, int32, int16, int8, uint8)->bool

# - diopiLogicalNotInp:
#     dtype: (float64, float32, float16, int64, int32, int16, int8, uint8)->bool

- diopiBatchNorm:
    dtype: (float64)->float32

- diopiBatchNormBackward:
    dtype: (float64)->float32

- diopiLinear:
    dtype: (float64)->float32

- diopiLinearBackward:
    dtype: (float64)->float32

- diopiAny:
    dtype: (float16, float32, float64, int16, int32, int64, uint8, int8)->bool

- diopiNeg:
    dtype: (int8, int16, uint8, uint16, uint32, uint64)->int64, (float64)->float32, (complex32)->complex64

- diopiNegInp:
    dtype: (int8, int16, uint8, uint16, uint32, uint64)->int64, (float64)->float32, (complex32)->complex64

- diopiThreshold:
    dtype: (float64)->float32, (int16, int64)->int32

- diopiThresholdInp:
    dtype: (float64)->float32, (int16, int64)->int32

- diopiThresholdBackward:
    dtype: (float64)->float32, (int16, int64)->int32

- diopiMaximum:
    dtype: (uint8, bool, int16)->int32, (float64)->float32

- diopiMinimum:
    dtype: (uint8, bool, int16)->int32, (float64)->float32

- diopiHardtanh:
    dtype: (float64)->float32

- diopiHardtanhInp:
    dtype: (float64)->float32

- diopiHardtanhBackward:
    dtype: (float64)->float32

- diopiMm:
    dtype: (float64)->float32

- diopiAddmm:
    dtype: (float64)->float32

- diopiAddcmul:
    dtype: (int16, uint16)->int32, (uint32, uint64)->int64, (float64)->float32

- diopiAddcmulInp:
    dtype: (int16, uint16)->int32, (uint32, uint64)->int64, (float64)->float32

- diopiAddcdiv:
    dtype: (int8, int16, int32, int64, uint16, uint32, uint64)->int64, (float64)->float32

- diopiAddcdivInp:
    dtype: (int8, int16, int32, int64, uint16, uint32, uint64)->int64, (float64)->float32

- diopiTopk:
    dtype: (float32)->float64

- diopiGroupNorm:
    dtype: (float64)->float32

- diopiGroupNormBackward:
    dtype: (float64)->float32

- diopiLayerNorm:
    dtype: (float64)->float32

- diopiLayerNormBackward:
    dtype: (float64)->float32

- diopiNLLLoss:
    dtype: (float64)->float32

- diopiNLLLossBackward:
    dtype: (float64)->float32

- diopiNLLLossV2:
    dtype: (float64)->float32

- diopiNLLLossV2Backward:
    dtype: (float64)->float32

- diopiMax:
    dtype: (float64)->float32, (int16, int32, uint8, int8, bool)->int64

- diopiMin:
    dtype: (float64)->float32, (int16, int32, uint8, int8, bool)->int64

- diopiMinAll:
    dtype: (float64)->float32, (int16, int8)->int32, (bool)->uint8

- diopiMaxAll:
    dtype: (float64)->float32, (int16, int8)->int32, (bool)->uint8

- diopiSilu:
    dtype: (float64)->float32

- diopiSiluInp:
    dtype: (float64)->float32

- diopiSiluBackward:
    dtype: (float64)->float32

- diopiUniformInp:
    dtype: (float64)->float32

- diopiExp:
    dtype: (uint8, int8, int16, int32, int64)->float32

- diopiPow:
    dtype: (uint8)->int16

- diopiPowInp:
    dtype: (uint8)->int16

- diopiPowTensor:
    dtype: (uint8)->int16

- diopiPowInpTensor:
    dtype: (uint8)->int16

- diopiNorm:
    dtype: (bool, uint8, int8, int16, int32, int64, float64)->float32

- diopiRsqrt:
    dtype: (int8, int16, int32, int64, uint8, uint16, uint32, uint64, bool)->float32

- diopiEmbeddingBackward:
    dtype: (float64)->float32

- diopiDropout:
    dtype: (float64)->float32

- diopiDropoutInp:
    dtype: (float64)->float32

- diopiExpand:
    dtype: (uint8, int16)->int32, (float64)->float32

- diopiSort:
    dtype: (float64)->float32

- diopiScatter:
    dtype: (uint8)->int32

- diopiScatterInp:
    dtype: (uint8)->int32

- diopiScatterScalar:
    dtype: (uint8)->int32

- diopiScatterInpScalar:
    dtype: (uint8)->int32

- diopiRotaryEmbedding:
    dtype: (float64)->float32

- diopiCol2Im:
    # data type float64 of input [x] is not supported
    dtype: (float64)->float32

- diopiRemainderTensor:
    dtype: (bool, uint8, int8, int16, uint16)->int32, (float64)->float32

- diopiRemainderScalar:
    dtype: (bool, uint8, int8, int16, uint16)->int32, (float64)->float32

- diopiRemainder:
    dtype: (bool, uint8, int8, int16, uint16)->int32, (float64)->float32

- diopiRMSNorm:
    dtype: (float64)->float32
    tensor_dtype:
        inv_rms: (float16, float64)->float32

- diopiRMSNormBackward:
    dtype: (float64)->float32
    tensor_dtype:
        inv_rms: (float16, float64)->float32

- diopiHardswish:
    # data type DT_DOUBLE of input [x] is not supported
    dtype: (float64)->float32

- diopiHardswishInp:
    dtype: (float64)->float32

- diopiHardswishBackward:
    dtype: (float64)->float32

- diopiMatmul:
    dtype: (float64)->float32

- diopiNormalTensor:
    dtype: (float64)->float32

- diopiNormalScalarTensor:
    dtype: (float64)->float32

- diopiNormalTensorScalar:
    dtype: (float64)->float32

- diopiGatherBackward:
    dtype: (float64)->float32

- diopiBmm:
    dtype: (float64)->float32
    layout: ND

- diopiIsNan:
    dtype: (uint8, int8, int32, int16, int64, bool)->float32

- diopiMaskedFill:
    dtype: (int16, uint8)->int32, (float64)->float32

- diopiMaskedFillInp:
    dtype: (int16, uint8)->int32, (float64)->float32

- diopiMaskedFillInpScalar:
    dtype: (int16, uint8)->int32, (float64)->float32

- diopiMaskedFillScalar:
    dtype: (int16, uint8)->int32, (float64)->float32

- diopiErf:
    dtype: (uint8, int8, int16, int32)->float32

- diopiErfInp:
    dtype: (uint8, int8, int16, int32)->float32

- diopiSgn:
    dtype: (uint8, int8, int16)->int32

- diopiSgnInp:
    dtype: (uint8, int8, int16)->int32

- diopiMSELoss:
    dtype: (float64)->float32

- diopiMSELossBackward:
    dtype: (float64)->float32

- diopiUpsampleLinear:
    dtype: (float64)->float32

- diopiUpsampleLinearBackward:
    dtype: (float64)->float32

- diopiUpsampleNearest:
    dtype: (float64)->float32

- diopiUpsampleNearestBackward:
    dtype: (float64)->float32

- diopiRelu:
    dtype: (int16, float64)->float32

- diopiReluInp:
    dtype: (int16, float64)->float32

- diopiTanh:
    dtype: (float64)->float32

- diopiTanhInp:
    dtype: (float64)->float32

- diopiTanhBackward:
    dtype: (float64)->float32

- diopiLerpTensor:
    # aclnnLerp doesn't support float64
    dtype: (float64)->float32

- diopiLerpScalar:
    # aclnnLerps doesn't support float64
    dtype: (float64)->float32
